body
{
    background-color: hsl(212, 45%, 89%);
}

.secundaria
{
    border-radius: 10px;
    width: 215px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    margin: 200px auto;
}

img
{
    border-radius: 10px;
    width: 195px;
    height: 200px;
    margin-top: 10px;
    margin-left: 9px;
}

.letrasNegrito
{
    font-size: 14px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: 700;
    font-family: Outfit, sans-serif;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.letrasMenores
{
    font-size: 10px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    font-family: Outfit, sans-serif;
    margin-left: 23px;
    margin-right: 23px;
}